/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
  .advantages {
    background: var(--red-color);
    padding-top: 180px;
    position: relative;
  }

  .advantages__img-box {
    width: 100vw;
  }

  .advantages__img {
    width: 90vw;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .advantages-section-title {
    color: var(--main-color);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--main-color);
  }

  .advantages-list__item {
    justify-content: center;
    text-align: left;
    display: flex;
  }

  .advantages-list__title {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: 400;
    font-style: italic;
  }

  .advantages-list__description {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-weight: 400;
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    background: var(--main-color);
  }
  .advantages-section-title {
    color: var(--main-color);
  }

  .advantages-list {
    display: flex;
    justify-content: space-around;
    color: var(--second-color);
    font-size: 12px;
    font-weight: 400;
  }

  .advantages-list__icon-box {
    border: 2px solid var(--second-color);
    border-radius: 50%;
    padding: 40px;
    height: 210px;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
  }

  .advantages-number {
    font-size: 50px;
    font-weight: 500;
  }

  .advantages-list__item {
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 50%;
    border: 2px solid var(--second-color);
  }

  .advantages-list__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }
}
/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
  .advantages {
    background: var(--main-color);
  }
  .advantages-section-title {
    color: var(--second-color);
  }

  .advantages-list {
    display: flex;
    justify-content: space-around;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 400;
  }

  .advantages-list__icon-box {
    border: 2px solid var(--second-color);
    border-radius: 50%;
    padding: 40px;
    height: 330px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
  }

  .advantages-number {
    font-size: 90px;
    font-weight: 500;
  }

  .advantages-list__item {
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 50%;
    border: 2px solid var(--second-color);
  }

  .advantages-list__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }
}
